/* Generic Selectors */

body {
    font-family: 'Raleway', sans-serif, "Times New Roman";
    font-size: 110%;
    border: none color: #7aa89f;
    background-color: rgb(80, 80, 80);
    color: #7aa89f;
}

p {
    width: 80%;
}

ul {
    font-family: 'Raleway', sans-serif;
    font-size: 110%;
    list-style-type: none;
    margin: 1;
    padding: 25;
    overflow: hidden;
    background-color: rgba(25, 25, 25, 0.5);
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(133, 255, 221);
}

h1 {
    text-align: center;
    color: rgb(123, 255, 232);
    font-family: 'Merriweather', serif;
    font-size: 285%;
}

h1 {
    text-align: center;
    color: rgb(123, 255, 232);
    font-family: 'Merriweather', serif;
    font-size: 215%;
}


/**************** Pseudo classes ****************/

a:link {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

a:visited {
    color: rgb(200, 200, 200);
}

a:hover {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

a:active {
    color: rgb(250, 250, 250);
    font-weight: bold;
}

#centerDoc a:link {
    color: rgb(250, 250, 250);
    text-decoration: underline;
}

#centerDoc a:hover {
    color: rgb(250, 250, 250);
}

/************************* ID's *************************/


#centerDoc {
    position: absolute;
    z-index: 15;
    padding: 0 0 20px 20px;
    /*top right bottom left*/
    margin-top: 50px;
    margin-left: 235px;
    width: 80%;
}

#Navigation {
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    list-style-type: none;
    margin: 1;
    padding: 25;
    overflow: hidden;
    background-color: #333333;
    color: rgb(200, 200, 200);
}
